/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
body{
	width: 900px;
	margin: 0 auto;
}
nav{
	margin: 30px;
	color: grey;
	word-spacing: 60px;

}
.logo{
	position: relative;
	margin-left: 700px;
	margin-top: -150px;
}
h1{
	font-size: 80px;
	width: 100px;
	height: 100px;
	text-align: center;
	padding: 30px;
	margin: 70px 50px;
}
.box{
	border: solid;
	padding: 5px 35px;
	margin: 0px 50px;
}
.code{
	position: relative;
	right:10;
	top:10;
	margin-left: 200px;
	

}
h2{
	font-size: 20px;
}
.content{
	border-top: 2px solid black;
	margin: 1%;
	width: 100px;
	min-width:150px;
	background-color: aquamarine;
}
.top{
	width: 150px;
	margin: 15px;
	width: 48%;
}
.bottom{
	margin:1%;
	width: 23%;
}
footer{
	border-top: 1px solid black;
}
h3{
	padding: 20px 0px;
}
.copyright{
	padding: 40px;
	text-align: center;
}